html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    background: #2C2F33;
}
img {
    vertical-align: top;
    height: 100vh;
    width: 100vw;
}
#timer {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
/* Bottom left text */
.bottom_left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
/* Top left text */
.top_left {
    position: absolute;
    top: 8px;
    left: 16px;
}
/* Top right text */
.top_right {
    position: absolute;
    top: 8px;
    right: 16px;
}
/* Bottom right text */
.bottom_right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
/* Centered text */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
